@use "./palette" as *;

@mixin button($fill){
    @if($fill){
        background-color: $bluelagoon;
        border: none;
        &:hover {
            background-color: lighten($bluelagoon, 10%);
      }
    }
    @else{
        background-color: transparent;
        border: 1px solid $bluelagoon;
        &:hover {
            color: $bluelagoon;
            border: 1px solid darken($bluelagoon, 10%);
      }
    }
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 4px;
    
}


@mixin background-opacity{
    content: "";
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    left: 0px;
    opacity: 0.15;
}