@use "./palette" as *;

@mixin button($fill){
    @if($fill){
        background-color: $bluelagoon;
        border: none;
        &:hover {
            background-color: lighten($bluelagoon, 10%);
      }
    }
    @else{
        background-color: transparent;
        border: 1px solid $bluelagoon;
        &:hover {
            color: $bluelagoon;
            border: 1px solid darken($bluelagoon, 10%);
      }
    }
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 4px;
    transition: .3s all;
}


@mixin background-opacity{
    content: "";
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    display: block;
    left: 0px;
    opacity: 0.15;
    border-radius: 4px;
}

@mixin logo{
    cursor: pointer;
      font-size: 1.5rem;
      font-weight: 700;
      & :first-child {
        color: $surfiegreen;
        position: relative;
        padding: 3px 3px 3px 25px;
        &::before {
          @include background-opacity();
          background-color: lighten($surfiegreen, 15%);
          border-top-left-radius: 48%;
          border-bottom-left-radius: 48%;
        }
      }
      & :last-child {
        color: darken($white, 15%);
        padding-top: 3px;
      }
}