//palette

//color cube
$white: #fff;
$woodsmoke: #111117;
$bluelagoon: #048383;
$abbey: #4e4f52;
$silversand: #bcbdbd;
$fountainblue: #52babb;
$texasrose: #feac61;
$copper: #ad6a35;

//median cut
$shark: #1d2528;
$graynurse: #e7eee9;
$saltbox: #676669;
$tradewind: #60a9ad;
$smaltblue: #568597;

//material design
$capepallisier: #a36b4c;
$midgray: #626165;
$surfiegreen: #098081;
$capecod: #434747;
$disernia: #da945c;